<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>保险列表页</title>
    <%= layout() %>
</head>
<body>
<%= pageTopNav() %>
<%= pageNav({active:"insurance"}) %>
<!--顶部banner轮播-->
<div class="page_banner_box banner_carousel_box">
    <img width="100%" height="100%" src="<%= require('../../../public-resource/imgs/insurance_index_banner_img.jpg') %>">
    <div class="banner_content_box">
        <div class="top_bg_status"></div>
        <div class="carousel_container">
            <div class="carousel_content_box">
                <div class="left_content_box">
                    <h1 class="title">安心综合医疗保险(有社保)1</h1>
                    <ul class="list_ul">
                        <li class="list_li">
                            <i class="spot"></i>
                            住院医疗更安心
                        </li>
                        <li class="list_li">
                            <i class="spot"></i>
                            创新加入住院前后门急诊医疗保险金
                        </li>
                        <li class="list_li">
                            <i class="spot"></i>
                            低廉保费超贴心
                        </li>
                    </ul>
                </div>
                <div class="right_content_box">
                    <h2 class="title">安联保险集团提供</h2>
                    <div class="price_box">
                        <span class="f">￥</span>
                        <span class="price">50.00</span>
                        <span class="q">起</span>
                    </div>
                    <a class="look_btn">去看看</a>
                    <div class="num_box"><span>266份</span>已售</div>
                </div>
            </div>
            <div class="carousel_content_box">
                <div class="left_content_box">
                    <h1 class="title">安心综合医疗保险(有社保)2</h1>
                    <ul class="list_ul">
                        <li class="list_li">
                            <i class="spot"></i>
                            住院医疗更安心
                        </li>
                        <li class="list_li">
                            <i class="spot"></i>
                            创新加入住院前后门急诊医疗保险金
                        </li>
                        <li class="list_li">
                            <i class="spot"></i>
                            低廉保费超贴心
                        </li>
                    </ul>
                </div>
                <div class="right_content_box">
                    <h2 class="title">安联保险集团提供</h2>
                    <div class="price_box">
                        <span class="f">￥</span>
                        <span class="price">50.00</span>
                        <span class="q">起</span>
                    </div>
                    <a class="look_btn">去看看</a>
                    <div class="num_box"><span>266份</span>已售</div>
                </div>
            </div>
            <div class="carousel_content_box">
                <div class="left_content_box">
                    <h1 class="title">安心综合医疗保险(有社保)3</h1>
                    <ul class="list_ul">
                        <li class="list_li">
                            <i class="spot"></i>
                            住院医疗更安心
                        </li>
                        <li class="list_li">
                            <i class="spot"></i>
                            创新加入住院前后门急诊医疗保险金
                        </li>
                        <li class="list_li">
                            <i class="spot"></i>
                            低廉保费超贴心
                        </li>
                    </ul>
                </div>
                <div class="right_content_box">
                    <h2 class="title">安联保险集团提供</h2>
                    <div class="price_box">
                        <span class="f">￥</span>
                        <span class="price">50.00</span>
                        <span class="q">起</span>
                    </div>
                    <a class="look_btn">去看看</a>
                    <div class="num_box"><span>266份</span>已售</div>
                </div>
            </div>
            <div class="carousel_content_box">
                <div class="left_content_box">
                    <h1 class="title">安心综合医疗保险(有社保)4</h1>
                    <ul class="list_ul">
                        <li class="list_li">
                            <i class="spot"></i>
                            住院医疗更安心
                        </li>
                        <li class="list_li">
                            <i class="spot"></i>
                            创新加入住院前后门急诊医疗保险金
                        </li>
                        <li class="list_li">
                            <i class="spot"></i>
                            低廉保费超贴心
                        </li>
                    </ul>
                </div>
                <div class="right_content_box">
                    <h2 class="title">安联保险集团提供</h2>
                    <div class="price_box">
                        <span class="f">￥</span>
                        <span class="price">50.00</span>
                        <span class="q">起</span>
                    </div>
                    <a class="look_btn">去看看</a>
                    <div class="num_box"><span>266份</span>已售</div>
                </div>
            </div>
            <div class="carousel_content_box">
                <div class="left_content_box">
                    <h1 class="title">安心综合医疗保险(有社保)5</h1>
                    <ul class="list_ul">
                        <li class="list_li">
                            <i class="spot"></i>
                            住院医疗更安心
                        </li>
                        <li class="list_li">
                            <i class="spot"></i>
                            创新加入住院前后门急诊医疗保险金
                        </li>
                        <li class="list_li">
                            <i class="spot"></i>
                            低廉保费超贴心
                        </li>
                    </ul>
                </div>
                <div class="right_content_box">
                    <h2 class="title">安联保险集团提供</h2>
                    <div class="price_box">
                        <span class="f">￥</span>
                        <span class="price">50.00</span>
                        <span class="q">起</span>
                    </div>
                    <a class="look_btn">去看看</a>
                    <div class="num_box"><span>266份</span>已售</div>
                </div>
            </div>
        </div>
        <div class="indicator"></div>
    </div>
</div>
<!--筛选-->
<div class="page_list_nav_box">
    <div class="title">保险类型：</div>
    <ul class="nav_ul">
        <li class="nav_li">全部</li>
        <li class="nav_li active">旅游险</li>
        <li class="nav_li">医疗险</li>
        <li class="nav_li">意外险</li>
    </ul>
</div>
<!--列表内容-->
<div class="page_list_container">
    <div class="list_content_box">

        <div class="product_content_box">
            <div class="content_box">
                <h1 class="title">安联环游四海-全球旅行马可波罗全年保障计划</h1>
                <div class="middle_content_box">
                    <ul class="left_ul">
                        <li class="left_li">
                            <i class="spot"></i>
                            住院医疗更安心
                        </li>
                        <li class="left_li">
                            <i class="spot"></i>
                            创新加入住院前后门急诊医疗保险金
                        </li>
                        <li class="left_li">
                            <i class="spot"></i>
                            低廉保费超贴心
                        </li>
                    </ul>
                    <div class="pos pos1">
                        <p class="text">30天至60周岁</p>
                        <p class="note_text">承保年龄</p>
                    </div>
                    <div class="pos pos2">
                        <p class="text">1年</p>
                        <p class="note_text">保障期限</p>
                    </div>
                    <div class="pos pos3">
                        <span class="f">￥</span>
                        <span class="price">22888.00</span>
                        <span class="q">起</span>
                    </div>
                    <div class="pos pos4">
                        <a href="details.html" class="see_btn">立即查看</a>
                        <p class="btn_note_text"><span>2800000人</span>查看</p>
                    </div>
                </div>
                <p class="product_text">本保险对于被保险人在保险期间内因疾病或意外伤害发生的住院医疗费用、特殊门诊医疗费用、住院前后门急诊医疗费用等给予综合的保障。</p>
            </div>
        </div>
        <div class="product_content_box">
            <div class="content_box">
                <h1 class="title">安联环游四海-全球旅行马可波罗全年保障计划</h1>
                <div class="middle_content_box">
                    <ul class="left_ul">
                        <li class="left_li">
                            <i class="spot"></i>
                            住院医疗更安心
                        </li>
                        <li class="left_li">
                            <i class="spot"></i>
                            创新加入住院前后门急诊医疗保险金
                        </li>
                        <li class="left_li">
                            <i class="spot"></i>
                            低廉保费超贴心
                        </li>
                    </ul>
                    <div class="pos pos1">
                        <p class="text">30天至60周岁</p>
                        <p class="note_text">承保年龄</p>
                    </div>
                    <div class="pos pos2">
                        <p class="text">1年</p>
                        <p class="note_text">保障期限</p>
                    </div>
                    <div class="pos pos3">
                        <span class="f">￥</span>
                        <span class="price">228.00</span>
                        <span class="q">起</span>
                    </div>
                    <div class="pos pos4">
                        <a href="details.html" class="see_btn">立即查看</a>
                        <p class="btn_note_text"><span>2800000人</span>查看</p>
                    </div>
                </div>
                <p class="product_text">本保险对于被保险人在保险期间内因疾病或意外伤害发生的住院医疗费用、特殊门诊医疗费用、住院前后门急诊医疗费用等给予综合的保障。</p>
            </div>
        </div>
        <div class="product_content_box">
            <div class="content_box">
                <h1 class="title">安联环游四海-全球旅行马可波罗全年保障计划</h1>
                <div class="middle_content_box">
                    <ul class="left_ul">
                        <li class="left_li">
                            <i class="spot"></i>
                            住院医疗更安心
                        </li>
                        <li class="left_li">
                            <i class="spot"></i>
                            创新加入住院前后门急诊医疗保险金
                        </li>
                        <li class="left_li">
                            <i class="spot"></i>
                            低廉保费超贴心
                        </li>
                    </ul>
                    <div class="pos pos1">
                        <p class="text">30天至60周岁</p>
                        <p class="note_text">承保年龄</p>
                    </div>
                    <div class="pos pos2">
                        <p class="text">1年</p>
                        <p class="note_text">保障期限</p>
                    </div>
                    <div class="pos pos3">
                        <span class="f">￥</span>
                        <span class="price">228.00</span>
                        <span class="q">起</span>
                    </div>
                    <div class="pos pos4">
                        <a href="details.html" class="see_btn">立即查看</a>
                        <p class="btn_note_text"><span>2800000人</span>查看</p>
                    </div>
                </div>
                <p class="product_text">本保险对于被保险人在保险期间内因疾病或意外伤害发生的住院医疗费用、特殊门诊医疗费用、住院前后门急诊医疗费用等给予综合的保障。</p>
            </div>
        </div>
        <div class="product_content_box">
            <div class="content_box">
                <h1 class="title">安联环游四海-全球旅行马可波罗全年保障计划</h1>
                <div class="middle_content_box">
                    <ul class="left_ul">
                        <li class="left_li">
                            <i class="spot"></i>
                            住院医疗更安心
                        </li>
                        <li class="left_li">
                            <i class="spot"></i>
                            创新加入住院前后门急诊医疗保险金
                        </li>
                        <li class="left_li">
                            <i class="spot"></i>
                            低廉保费超贴心
                        </li>
                    </ul>
                    <div class="pos pos1">
                        <p class="text">30天至60周岁</p>
                        <p class="note_text">承保年龄</p>
                    </div>
                    <div class="pos pos2">
                        <p class="text">1年</p>
                        <p class="note_text">保障期限</p>
                    </div>
                    <div class="pos pos3">
                        <span class="f">￥</span>
                        <span class="price">228.00</span>
                        <span class="q">起</span>
                    </div>
                    <div class="pos pos4">
                        <a href="details.html" class="see_btn">立即查看</a>
                        <p class="btn_note_text"><span>2800000人</span>查看</p>
                    </div>
                </div>
                <p class="product_text">本保险对于被保险人在保险期间内因疾病或意外伤害发生的住院医疗费用、特殊门诊医疗费用、住院前后门急诊医疗费用等给予综合的保障。</p>
            </div>
        </div>
        <div class="product_content_box">
            <div class="content_box">
                <h1 class="title">安联环游四海-全球旅行马可波罗全年保障计划</h1>
                <div class="middle_content_box">
                    <ul class="left_ul">
                        <li class="left_li">
                            <i class="spot"></i>
                            住院医疗更安心
                        </li>
                        <li class="left_li">
                            <i class="spot"></i>
                            创新加入住院前后门急诊医疗保险金
                        </li>
                        <li class="left_li">
                            <i class="spot"></i>
                            低廉保费超贴心
                        </li>
                    </ul>
                    <div class="pos pos1">
                        <p class="text">30天至60周岁</p>
                        <p class="note_text">承保年龄</p>
                    </div>
                    <div class="pos pos2">
                        <p class="text">1年</p>
                        <p class="note_text">保障期限</p>
                    </div>
                    <div class="pos pos3">
                        <span class="f">￥</span>
                        <span class="price">228.00</span>
                        <span class="q">起</span>
                    </div>
                    <div class="pos pos4">
                        <a href="details.html" class="see_btn">立即查看</a>
                        <p class="btn_note_text"><span>2800000人</span>查看</p>
                    </div>
                </div>
                <p class="product_text">本保险对于被保险人在保险期间内因疾病或意外伤害发生的住院医疗费用、特殊门诊医疗费用、住院前后门急诊医疗费用等给予综合的保障。</p>
            </div>
        </div>
        <div class="product_content_box">
            <div class="content_box">
                <h1 class="title">安联环游四海-全球旅行马可波罗全年保障计划</h1>
                <div class="middle_content_box">
                    <ul class="left_ul">
                        <li class="left_li">
                            <i class="spot"></i>
                            住院医疗更安心
                        </li>
                        <li class="left_li">
                            <i class="spot"></i>
                            创新加入住院前后门急诊医疗保险金
                        </li>
                        <li class="left_li">
                            <i class="spot"></i>
                            低廉保费超贴心
                        </li>
                    </ul>
                    <div class="pos pos1">
                        <p class="text">30天至60周岁</p>
                        <p class="note_text">承保年龄</p>
                    </div>
                    <div class="pos pos2">
                        <p class="text">1年</p>
                        <p class="note_text">保障期限</p>
                    </div>
                    <div class="pos pos3">
                        <span class="f">￥</span>
                        <span class="price">228.00</span>
                        <span class="q">起</span>
                    </div>
                    <div class="pos pos4">
                        <a href="details.html" class="see_btn">立即查看</a>
                        <p class="btn_note_text"><span>2800000人</span>查看</p>
                    </div>
                </div>
                <p class="product_text">本保险对于被保险人在保险期间内因疾病或意外伤害发生的住院医疗费用、特殊门诊医疗费用、住院前后门急诊医疗费用等给予综合的保障。</p>
            </div>
        </div>
        <div class="product_content_box">
            <div class="content_box">
                <h1 class="title">安联环游四海-全球旅行马可波罗全年保障计划</h1>
                <div class="middle_content_box">
                    <ul class="left_ul">
                        <li class="left_li">
                            <i class="spot"></i>
                            住院医疗更安心
                        </li>
                        <li class="left_li">
                            <i class="spot"></i>
                            创新加入住院前后门急诊医疗保险金
                        </li>
                        <li class="left_li">
                            <i class="spot"></i>
                            低廉保费超贴心
                        </li>
                    </ul>
                    <div class="pos pos1">
                        <p class="text">30天至60周岁</p>
                        <p class="note_text">承保年龄</p>
                    </div>
                    <div class="pos pos2">
                        <p class="text">1年</p>
                        <p class="note_text">保障期限</p>
                    </div>
                    <div class="pos pos3">
                        <span class="f">￥</span>
                        <span class="price">228.00</span>
                        <span class="q">起</span>
                    </div>
                    <div class="pos pos4">
                        <a href="details.html" class="see_btn">立即查看</a>
                        <p class="btn_note_text"><span>2800000人</span>查看</p>
                    </div>
                </div>
                <p class="product_text">本保险对于被保险人在保险期间内因疾病或意外伤害发生的住院医疗费用、特殊门诊医疗费用、住院前后门急诊医疗费用等给予综合的保障。</p>
            </div>
        </div>
        <div class="product_content_box">
            <div class="content_box">
                <h1 class="title">安联环游四海-全球旅行马可波罗全年保障计划</h1>
                <div class="middle_content_box">
                    <ul class="left_ul">
                        <li class="left_li">
                            <i class="spot"></i>
                            住院医疗更安心
                        </li>
                        <li class="left_li">
                            <i class="spot"></i>
                            创新加入住院前后门急诊医疗保险金
                        </li>
                        <li class="left_li">
                            <i class="spot"></i>
                            低廉保费超贴心
                        </li>
                    </ul>
                    <div class="pos pos1">
                        <p class="text">30天至60周岁</p>
                        <p class="note_text">承保年龄</p>
                    </div>
                    <div class="pos pos2">
                        <p class="text">1年</p>
                        <p class="note_text">保障期限</p>
                    </div>
                    <div class="pos pos3">
                        <span class="f">￥</span>
                        <span class="price">228.00</span>
                        <span class="q">起</span>
                    </div>
                    <div class="pos pos4">
                        <a href="details.html" class="see_btn">立即查看</a>
                        <p class="btn_note_text"><span>2800000人</span>查看</p>
                    </div>
                </div>
                <p class="product_text">本保险对于被保险人在保险期间内因疾病或意外伤害发生的住院医疗费用、特殊门诊医疗费用、住院前后门急诊医疗费用等给予综合的保障。</p>
            </div>
        </div>
    </div>
    <%= listPaging() %>
</div>
<!--合作品牌-->
<div class="page_brand_box">
    <div class="content">
        <div class="header_title">合作品牌</div>
        <ul class="content_list">
            <li class="list">
                <img width="100%" height="100%" src="<%= require('../../../public-resource/imgs/insurance_logo_img.jpg') %>">
            </li>
            <li class="list">
                <img width="100%" height="100%" src="<%= require('../../../public-resource/imgs/insurance_logo_img1.jpg') %>">
            </li>
            <li class="list">
                <img width="100%" height="100%" src="<%= require('../../../public-resource/imgs/insurance_logo_img2.jpg') %>">
            </li>
        </ul>
    </div>
</div>
<%= sideContact() %>
<%= footerNav({footer_background:"background:#fff"}) %>
</body>
</html>