<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信用卡首页</title>
    <%= layout() %>
</head>
<body>
<%= pageTopNav() %>
<%= pageNav({active:"credit_card"}) %>
<div class="page_top_banner_box">
    <img class="lazy" width="100%" height="100%" data-src="<%= require('../../../public-resource/imgs/credit_card_banner_img.jpg') %>">
    <div class="right_carousel_box">
        <div class="carousel">
            <div class="hidden_box">
                <ul class="carousel_ul">
                    <li>
                        <div class="hot_status"></div>
                        <div class="card_box left">
                            <div class="img_box">
                                <img class="lazy" width="100%" height="100%" data-src="<%= require('../../../public-resource/imgs/card_img1.jpg') %>">
                            </div>
                            <p class="card_title">广发易车联名卡</p>
                            <button class="look_btn">立即查看</button>
                        </div>
                        <div class="card_box right">
                            <div class="img_box">
                                <img class="lazy" width="100%" height="100%" data-src="<%= require('../../../public-resource/imgs/card_img1.jpg') %>">
                            </div>
                            <p class="card_title">广发易车联名卡</p>
                            <button class="look_btn">立即查看</button>
                        </div>
                    </li>
                    <li>
                        <div class="hot_status"></div>
                        <div class="card_box left">
                            <div class="img_box">
                                <img class="lazy" width="100%" height="100%" data-src="<%= require('../../../public-resource/imgs/card_img1.jpg') %>">
                            </div>
                            <p class="card_title">广发易车联名卡</p>
                            <button class="look_btn">立即查看</button>
                        </div>
                        <div class="card_box right">
                            <div class="img_box">
                                <img class="lazy" width="100%" height="100%" data-src="<%= require('../../../public-resource/imgs/card_img1.jpg') %>">
                            </div>
                            <p class="card_title">广发易车联名卡</p>
                            <button class="look_btn">立即查看</button>
                        </div>
                    </li>
                    <li>
                        <div class="hot_status"></div>
                        <div class="card_box left">
                            <div class="img_box">
                                <img class="lazy" width="100%" height="100%" data-src="<%= require('../../../public-resource/imgs/card_img1.jpg') %>">
                            </div>
                            <p class="card_title">广发易车联名卡</p>
                            <button class="look_btn">立即查看</button>
                        </div>
                        <div class="card_box right">
                            <div class="img_box">
                                <img class="lazy" width="100%" height="100%" data-src="<%= require('../../../public-resource/imgs/card_img1.jpg') %>">
                            </div>
                            <p class="card_title">广发易车联名卡</p>
                            <button class="look_btn">立即查看</button>
                        </div>
                    </li>
                </ul>
            </div>
            <button class="prev_btn"></button>
            <button class="next_btn"></button>
        </div>
    </div>
</div>
<%= navList() %>
<!--产品列表-->
<div class="page_product_list_box">
    <div class="content_header_box">产品列表<span>Product list</span><a class="more_btn"></a></div>
    <div class="product_list_content">
        <div class="product_list_container">
            <div class="product_list">
                <div class="list_content">
                    <div class="left_content">
                        <div class="img_box">
                            <img class="lazy" width="100%" height="100%" data-src="<%= require('../../../public-resource/imgs/card_product_img.jpg') %>">
                        </div>
                        <div class="title_box">
                            <h2 class="title">Visa冬奥会主体信用金卡</h2>
                            <p class="note_text">高铁贵宾室礼遇</p>
                            <div class="small_img_box">
                                <img class="lazy" data-src="<%= require('../../../public-resource/imgs/card_small_img.jpg') %>">
                                <img class="lazy" data-src="<%= require('../../../public-resource/imgs/card_small_img.jpg') %>">
                            </div>
                        </div>
                    </div>
                    <div class="middle_content">
                        <ul class="ul_list">
                            <li>系列等级：<span>普卡/金卡</span></li>
                            <li>系列币种：<span>人民币</span></li>
                            <li>年费费用：<span>80元</span></li>
                            <li>年费政策：<span>当年刷卡8次即免次年年费</span></li>
                        </ul>
                    </div>
                    <div class="right_content">
                        <a href="details.html" class="look_btn">查看</a>
                    </div>
                </div>
            </div>
            <div class="product_list">
                <div class="list_content">
                    <div class="left_content">
                        <div class="img_box">
                            <img class="lazy" width="100%" height="100%" data-src="<%= require('../../../public-resource/imgs/card_product_img.jpg') %>">
                        </div>
                        <div class="title_box">
                            <h2 class="title">Visa冬奥会主体信用金卡</h2>
                            <p class="note_text">高铁贵宾室礼遇</p>
                            <div class="small_img_box">
                                <img class="lazy" data-src="<%= require('../../../public-resource/imgs/card_small_img.jpg') %>">
                                <img class="lazy" data-src="<%= require('../../../public-resource/imgs/card_small_img.jpg') %>">
                            </div>
                        </div>
                    </div>
                    <div class="middle_content">
                        <ul class="ul_list">
                            <li>系列等级：<span>普卡/金卡</span></li>
                            <li>系列币种：<span>人民币</span></li>
                            <li>年费费用：<span>80元</span></li>
                            <li>年费政策：<span>当年刷卡8次即免次年年费</span></li>
                        </ul>
                    </div>
                    <div class="right_content">
                        <a href="details.html" class="look_btn">查看</a>
                    </div>
                </div>
            </div>
            <div class="product_list">
                <div class="list_content">
                    <div class="left_content">
                        <div class="img_box">
                            <img class="lazy" width="100%" height="100%" data-src="<%= require('../../../public-resource/imgs/card_product_img.jpg') %>">
                        </div>
                        <div class="title_box">
                            <h2 class="title">Visa冬奥会主体信用金卡</h2>
                            <p class="note_text">高铁贵宾室礼遇</p>
                            <div class="small_img_box">
                                <img class="lazy" data-src="<%= require('../../../public-resource/imgs/card_small_img.jpg') %>">
                                <img class="lazy" data-src="<%= require('../../../public-resource/imgs/card_small_img.jpg') %>">
                            </div>
                        </div>
                    </div>
                    <div class="middle_content">
                        <ul class="ul_list">
                            <li>系列等级：<span>普卡/金卡</span></li>
                            <li>系列币种：<span>人民币</span></li>
                            <li>年费费用：<span>80元</span></li>
                            <li>年费政策：<span>当年刷卡8次即免次年年费</span></li>
                        </ul>
                    </div>
                    <div class="right_content">
                        <a href="details.html" class="look_btn">查看</a>
                    </div>
                </div>
            </div>
            <div class="product_list">
                <div class="list_content">
                    <div class="left_content">
                        <div class="img_box">
                            <img class="lazy" width="100%" height="100%" data-src="<%= require('../../../public-resource/imgs/card_product_img.jpg') %>">
                        </div>
                        <div class="title_box">
                            <h2 class="title">Visa冬奥会主体信用金卡</h2>
                            <p class="note_text">高铁贵宾室礼遇</p>
                            <div class="small_img_box">
                                <img class="lazy" data-src="<%= require('../../../public-resource/imgs/card_small_img.jpg') %>">
                                <img class="lazy" data-src="<%= require('../../../public-resource/imgs/card_small_img.jpg') %>">
                            </div>
                        </div>
                    </div>
                    <div class="middle_content">
                        <ul class="ul_list">
                            <li>系列等级：<span>普卡/金卡</span></li>
                            <li>系列币种：<span>人民币</span></li>
                            <li>年费费用：<span>80元</span></li>
                            <li>年费政策：<span>当年刷卡8次即免次年年费</span></li>
                        </ul>
                    </div>
                    <div class="right_content">
                        <a href="details.html" class="look_btn">查看</a>
                    </div>
                </div>
            </div>
        </div>
        <%= listPaging() %>
    </div>
</div>
<%= footerNav({footer_background:"background:#fff"}) %>
<!--@@include('../common/footer_nav.html',{"style":"background:#fff"})-->
</body>
</html>