<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <%= layout() %>
</head>
<body>
<main class="page">
    <section class="page_header_container">
        <h1 class="header_title">零分</h1>
        <p class="header_remark_text">您的生活钱包</p>
    </section>
    <!--首页轮播-->
    <section class="swiper_container">
        <ul class="carousel_box content_box">
            <li class="swiper_item">
                <a>
                    <img width="100%" height="100%" src="<%= require('../../public-resource/imgs/index_swiper_img.jpg') %>">
                </a>
            </li>
            <li class="swiper_item">
                <a>
                    <img width="100%" height="100%" src="<%= require('../../public-resource/imgs/index_swiper_img.jpg') %>">
                </a>
            </li>
            <li class="swiper_item">
                <a>
                    <img width="100%" height="100%" src="<%= require('../../public-resource/imgs/index_swiper_img.jpg') %>">
                </a>
            </li>
            <li class="swiper_item">
                <a>
                    <img width="100%" height="100%" src="<%= require('../../public-resource/imgs/index_swiper_img.jpg') %>">
                </a>
            </li>
        </ul>
        <div class="indicator"></div>
    </section>
    <section class="car_insurance_stages_container">
        <div class="stages_header_box">
            <h1 class="stages_title">车险分期</h1>
            <a class="my_car_box">
                <i class="my_bg"></i>
                <span>我的车险</span>
            </a>
        </div>
        <div class="insurance_nav_box">
            <a class="nav_list">
                <div class="img_box rm_bg"></div>
                <p class="text"><span>人民保险</span></p>
            </a>
            <a class="nav_list">
                <div class="img_box tpy_bg"></div>
                <p class="text">太平洋保险</p>
            </a>
            <a class="nav_list">
                <div class="img_box bh_bg"></div>
                <p class="text">渤海保险</p>
            </a>
            <a class="nav_list">
                <div class="img_box zc_bg"></div>
                <p class="text">众诚保险</p>
            </a>
            <a class="nav_list">
                <div class="img_box yc_bg"></div>
                <p class="text">永城保险</p>
            </a>
            <a class="nav_list">
                <div class="img_box pa_bg"></div>
                <p class="text">平安保险</p>
            </a>
            <a class="nav_list">
                <div class="img_box ac_bg"></div>
                <p class="text">安诚保险</p>
            </a>
            <a class="nav_list">
                <div class="img_box ts_bg"></div>
                <p class="text">泰山保险</p>
            </a>
        </div>
    </section>
    <!--合作伙伴-->
    <section class="partner_container">
        <h1 class="partner_title">合作伙伴</h1>
        <div class="partner_list_box">
            <a class="list_box">
                <div class="company_logo">
                    <img width="100%" height="100%" src="<%= require('../../public-resource/imgs/index_list_logo1.jpg')%>">
                </div>
                <div class="right_content">
                    <div class="pos">
                        <h2 class="company_name">沃尔玛（中国）投资有限公司</h2>
                        <p class="company_text">沃尔玛一直在积极开发和推广品质有保障、价格更价格更价格更价格更</p>
                    </div>
                </div>
            </a>
            <a class="list_box">
                <div class="company_logo">
                    <img width="100%" height="100%" src="<%= require('../../public-resource/imgs/index_list_logo1.jpg')%>">
                </div>
                <div class="right_content">
                    <div class="pos">
                        <h2 class="company_name">沃尔玛（中国）投资有限公司</h2>
                        <p class="company_text">沃尔玛一直在积极开发和推广品质有保障、价格更价格更价格更价格更</p>
                    </div>
                </div>
            </a>
            <a class="list_box">
                <div class="company_logo">
                    <img width="100%" height="100%" src="<%= require('../../public-resource/imgs/index_list_logo1.jpg')%>">
                </div>
                <div class="right_content">
                    <div class="pos">
                        <h2 class="company_name">沃尔玛（中国）投资有限公司</h2>
                        <p class="company_text">沃尔玛一直在积极开发和推广品质有保障、价格更价格更价格更价格更</p>
                    </div>
                </div>
            </a>
            <a class="list_box">
                <div class="company_logo">
                    <img width="100%" height="100%" src="<%= require('../../public-resource/imgs/index_list_logo1.jpg')%>">
                </div>
                <div class="right_content">
                    <div class="pos">
                        <h2 class="company_name">沃尔玛（中国）投资有限公司</h2>
                        <p class="company_text">沃尔玛一直在积极开发和推广品质有保障、价格更价格更价格更价格更</p>
                    </div>
                </div>
            </a>
        </div>
    </section>
    <!--已经到底了-->
    <section class="bottom_prompt_container">
        <div class="border_box"></div>
        <p class="text">已经到底啦</p>
    </section>
    <%= footerNav({'active':'index'}) %>
</main>
</body>
</html>