<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%= layout %>
    <title>民商普惠</title>
</head>
<body>
<section class="page">
    <%= mCarousel %>
    <section class="nav_icon_box">
        <ul class="ul_box">
            <li class="li_box">
                <div class="img"><img class="img1" src="<%= require('../../public-resource/imgs/icons/index_cx.png') %>" width="100%" height="100%"></div>
                <a href="./car_insurance.html"><p class="text">车险</p></a>
            </li>
            <li class="li_box">
                <div class="img"><img class="img2" src="<%= require('../../public-resource/imgs/icons/index_bx.png') %>" width="100%" height="100%"></div>
                <a href="#"><p class="text">保险</p></a>
            </li>
            <li class="li_box">
                <div class="img"><img class="img3" src="<%= require('../../public-resource/imgs/icons/index_xyk.png') %>" width="100%" height="100%"></div>
                <a href="./card_center.html"><p class="text">信用卡</p></a>
            </li>
            <li class="li_box">
                <div class="img"><img class="img4" src="<%= require('../../public-resource/imgs/icons/index_dk.png') %>" width="100%" height="100%"></div>
                <a href="./loan_center.html"><p class="text">贷款</p></a>
            </li>
            <li class="li_box">
                <div class="img"><img class="img5" src="<%= require('../../public-resource/imgs/icons/index_lc.png') %>" width="100%" height="100%"></div>
                <a href="./financ_center.html"><p class="text">理财</p></a>
            </li>
        </ul>
    </section>
    <section class="content_box">
        <div class="tab_box">
            <div class="move_line"></div>
            <div class="tab_btn">点击一</div>
            <div class="tab_btn active">点击二</div>
            <div class="tab_btn">点击三</div>
            <div class="tab_btn">点击四</div>
            <div class="tab_btn">点击五</div>
            <div class="tab_content">内容一</div>
            <div class="tab_content">内容二</div>
            <div class="tab_content">内容三</div>
            <div class="tab_content">内容四</div>
            <div class="tab_content">内容五</div>
        </div>
    </section>
    <section class="content_box">
        <div class="content_title_box">
            <div class="tit_box">
                <i class="head_icon_bg"></i>
                <div class="title">热门信用卡</div>
                <span class="see_more">查看全部
<i class="icon"></i>
</span>
            </div>
        </div>
        <div class="company_list_box">
            <div class="company">
                <div class="img_box">
                    <img src="<%= require('../../public-resource/imgs/company_lo.jpg') %>">
                </div>
                <div class="company_text_box">
                    <div class="pos_box">
                        <h1 class="company_title">民生银行</h1>
                        <div class="company_text">天天民生日</div>
                    </div>
                </div>
            </div>
            <div class="company">
                <div class="img_box">
                    <img src="<%= require('../../public-resource/imgs/company_lo.jpg') %>">
                </div>
                <div class="company_text_box">
                    <div class="pos_box">
                        <h1 class="company_title">广发银行</h1>
                        <div class="company_text">返现无门槛</div>
                    </div>
                </div>
            </div>
            <div class="company">
                <div class="img_box">
                    <img src="<%= require('../../public-resource/imgs/company_lo.jpg') %>">
                </div>
                <div class="company_text_box">
                    <div class="pos_box">
                        <h1 class="company_title">平安银行</h1>
                        <div class="company_text">周三享5折</div>
                    </div>
                </div>
            </div>
            <div class="company">
                <div class="img_box">
                    <img src="<%= require('../../public-resource/imgs/company_lo.jpg') %>">
                </div>
                <div class="company_text_box">
                    <div class="pos_box">
                        <h1 class="company_title">光大银行</h1>
                        <div class="company_text">阳光金管家</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content_box">
        <div class="content_title_box">
            <div class="tit_box">
                <i class="head_icon_bg"></i>
                <div class="title">热门理财</div>
                <span class="see_more">查看全部
<i class="icon"></i>
</span>
            </div>
        </div>
        <div class="financ_list_box">
            <div class="list_box">
                <div class="list_head_box">
                    <div class="list_title">富满溢希德三号-U028期</div>

                </div>
                <div class="list_content">
                    <div class="left_content">
                        <div class="num_box">
                            <span style="display:block">4.27-4.58<em>%</em></span>
                            <i style="display:block">预计年化收益率</i>
                        </div>
                    </div>
                    <div class="right_content">
                        <span class="span1">140天理财期限</span>
                        <span class="span2">5万元起投</span>
                    </div>
                </div>
            </div>
            <div class="list_box">
                <div class="list_head_box">
                    <div class="list_title">富满溢希德三号-U028期</div>

                </div>
                <div class="list_content">
                    <div class="left_content">
                        <div class="num_box">
                            <span>6.00<em>%</em></span>
                            <i>预计年化收益率</i>
                        </div>
                    </div>
                    <div class="right_content">
                        <span class="span1">140天理财期限</span>
                        <span class="span2">10万元起投</span>
                    </div>
                </div>
            </div>
            <div class="list_box">
                <div class="list_head_box">
                    <div class="list_title">富满溢希德三号-U028期</div>

                </div>
                <div class="list_content">
                    <div class="left_content">
                        <div class="num_box">
                            <span>6.00<em>%</em></span>
                            <i>预计年化收益率</i>
                        </div>
                    </div>
                    <div class="right_content">
                        <span class="span1">140天理财期限</span>
                        <span class="span2">10万元起投</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bottom_text_box">
        <div class="text_center">目标利率和约定利率不代表实际收益<br>
            投资需谨慎</div>
    </section>
    <section class="content_box" style="margin-top:0">
        <div class="content_title_box">
            <div class="tit_box">
                <i class="head_icon_bg"></i>
                <div class="title">热门保险</div>
                <span class="see_more">查看全部
<i class="icon"></i>
</span>
            </div>
        </div>
        <div class="bx_list_box">
            <div class="bx_content_box">
                <div class="img"><img width="100%" height="100%" src="<%= require('../../public-resource/imgs/h_img.jpg') %>"></div>
                <div class="text_content_box">
                    <h1 class="title">日常小病医疗保险</h1>
                    <p class="text">医疗费用超过100即可报销/不限意外种类/住院即报</p>
                    <div class="money">￥<span>99.00</span>起</div>
                </div>
                <div class="bx_logo"><img width="100%" height="100%" src="<%= require('../../public-resource/imgs/bx_logo.jpg') %>"></div>
            </div>
            <div class="bx_content_box">
                <div class="img"><img width="100%" height="100%" src="<%= require('../../public-resource/imgs/h_img.jpg') %>"></div>
                <div class="text_content_box">
                    <h1 class="title">日常小病医疗保险</h1>
                    <p class="text">医疗费用超过100即可报销/不限意外种类/住院即报</p>
                    <div class="money">￥<span>99.00</span>起</div>
                </div>
                <div class="bx_logo"><img width="100%" height="100%" src="<%= require('../../public-resource/imgs/bx_logo.jpg') %>"></div>
            </div>
            <div class="bx_content_box">
                <div class="img"><img class="lazy" width="100%" height="100%" src="<%= require('../../public-resource/imgs/lazy.png') %>" data-src="<%= require('../../public-resource/imgs/h_img.jpg') %>"></div>
                <div class="text_content_box">
                    <h1 class="title">日常小病医疗保险</h1>
                    <p class="text">医疗费用超过100即可报销/不限意外种类/住院即报</p>
                    <div class="money">￥<span>99.00</span>起</div>
                </div>
                <div class="bx_logo"><img class="lazy" width="100%" height="100%" src="<%= require('../../public-resource/imgs/lazy.png') %>" data-src="<%= require('../../public-resource/imgs/bx_logo.jpg') %>"></div>
            </div>
        </div>
    </section>
    <!--推荐好友/联系客服-->
    <section class="contact_box">
        <div class="contact_content_box">
            <div class="contact_left contact_com_style">
                <img class="img" src="<%= require('../../public-resource/imgs/recom.png') %>">
                <div class="attach_text">推荐好友</div>
            </div>
            <div class="contact_right contact_com_style">
                <img class="img" src="<%= require('../../public-resource/imgs/contact.png') %>">
                <div class="attach_text"></div>
            </div>
        </div>
    </section>
    <%= footerNav %>
</section>
</body>
</html>